body {
    background-color: lightgreen;
    background-image: url("../images/summer_camp.gif"); 
}

.header-container {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    overflow: auto;
    height: 120px;
    background-color: lightskyblue;
    opacity: 0.75;
}

#welcome {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 64px;
    text-align: center;
    text-emphasis: bold;
    padding-top: 15px;
    padding-bottom: 24px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

p,
#wins,
#guesses,
#userprogress {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 42px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.box {
    width: 100%;
    max-width: 480px;
    padding: 50px;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: hotpink;
    outline: 1px solid lightskyblue;
    opacity: 0.8;
}



